.websole-user_status_header {
  display: inline-block;
}

.websole-user_credit {
  display: inline-block;
  float: left;
  margin-left: 20px;
  position: absolute;
}

.websole-user_debit {
  display: inline-block;
  float: right;
  margin-left: 350px;
  position: absolute;
}

.websole-user_status_list {
  margin-top: 190px;
}
