
  .landing-main-section {
    font-family: 'Bree Serif', serif;
    font-size: xx-large;
    padding-top: 19%;
    padding-left: 30%;
    position: relative;
  }

  .getting-started-btn {
    padding-left: 570px;
  }
